
<%- include('header')-%>

</head>
  <body>

    <div class="search mt-15 control ">
      <form action="" class="flex justify-content-center align-items-center">
        <input type="text" class="search__input" placeholder="Type to search items..." autofocus>
      </form>
    </div>

   <div class="flex justify-content-between align-items-center p-20">
     <button  class="button button-button pointer js-add-new-item">Add New Item</button>



       <p class=""><span class="items-count">Items: </span><span class="bold items-count-num"><%=items_count%></span></p>
   </div>




    <div class="items ">



      <% items.forEach((item)=>{%>
        <div class="item-grid <%=item.id%>">
           <div class="">
             <div class="item-grid__img-cont">
               <img src="/images/rasta/item1.jpg" alt="" class="item-grid__img w-100">
             </div>
           </div>
           <div class="item-grid-desc">
             <p class="item-grid-desc__name bold">
               <%=item.name%>
             </p>
             <div class="flex justify-content-between price-variant-cont mb-15 mt-15">
               <p class="item-grid-desc__price">
                 Price: <span class="bold"><%=item.price%></span>
               </p>
               <p class="item-grid-desc__variantnum">
                 Variants: <span class="bold"><%=item.variants.length%></span>
               </p>
               </div>
           </div>

           <div>
             <ul class="action mr-20 mb-20">
               <li class="action_item rel ">Item
                  <ul class="action_dropdown abs">
                    <li class="view action_dropdown-list"><a href="#">View</a></li>
                    <li class="edit action_dropdown-list"><a href=<%=`items/${item.id}/descriptions`%>>Edit Description</a></li>
                    <li class="edit action_dropdown-list"><a href=<%=`items/${item.id}/edit/details`%>>Edit Detail</a></li>
                    <li class="trash action_dropdown-list"><a href="#" class="js-delete-item-link" type="link" item_id="<%=item.id%>" item_name=" <%=item.name%>">Delete</a></li>
                  </ul>
               </li>
             </ul>

             <ul class="action mb-20">

               <li class="action_item rel ">Variant
                  <ul class="action_dropdown abs">
                    <li class="view action_dropdown-list"><a href=<%=`/items/${item.id}/variants`%>>View</a></li>
                    <li class="view action_dropdown-list"><a class="js-new-variant-btn" item_id="<%=item.id%>" item_name=" <%=item.name%>" type="link" href="#">New</a></li>
                    <li class="edit action_dropdown-list"><a href="">Edit</a></li>
                    <li class="trash action_dropdown-list "><a href="#">Delete</a></li>
                  </ul>
               </li>
             </ul>
           </div>
        </div>
      <%}); %>

      <%if(items_count == 0 ){%>
        <p class="no-items">No items uploaded. Go ahead and add upload some items.</p>
      <%}%>
   </div>


  <script type="text/javascript" src="/javascripts/home.js"></script>
  </body>




</html>
