<%- include('header')-%>
</header>
    <body>
      <div class="update-notice saving">
        Saving
      </div>
      <div class="update-notice saved">
        About item field updated successfully!
      </div>
      <div class="fields">
           <p class="underline text-center bold">Item Description</p>

              <div class="input-group-field" id="about-field">
                <label for="" class="form-label ">About Item</label>
                <textarea name="name"id="about" rows="8" class="form-input control"><%=description.about%></textarea>
              </div>

            <div class="input-group-field" id='ingredients-field'>
              <label for="" class="form-label ">Ingredients</label>
              <textarea name="name" id="ingredients" rows="8" class="form-input control"><%=description.ingredients%></textarea>
            </div>

            <div class="input-group-field" id='how_to_use-field'>
              <label for="" class="form-label ">Item Description</label>
              <textarea name="name" id="how_to_use" rows="8" class="form-input control"><%=description.how_to_use%></textarea>
            </div>

            <div class="input-group-field mt-20">
              <label for="image" class="form-label pointer  file-type rel">
                <p class="text-center">Upload Item Image</p>
                <div class=" flex justify-content-center">

                  <div class="abs image-upload-progress" >
                    <p class="text-center">Uploading. Please Wait...</p>
                    <div class=" flex justify-content-center ">

                      <img src="/images/svg/uploading.svg" width="30px" height="45px" alt="">
                    </div>
                  </div>



                  <img src="/images/svg/upload.svg" width="30px" height="45px" alt="">
                </div>
              </label>
              <input type="file" name="image" id="image" class="none" value=""  data-type="parent">
            </div>



            <div class="mt-30">
              <button type="submit"  class="form-input control  rel straight-edge">Add New Item</button>
            </div>

            <div class="mt-20">

              <button type="submit"  class="form-input control form-btn--rounded form-input--rounded--cinnabar rel straight-edge">Add New Item</button>
            </div>
          </form>
          <p class="underline text-center bold">Images</p>
          <div class="">
          <div class="image-upload">
            <%if(images){%>
              <%images.forEach((image)=>{%>
                <div class="uploaded-image flex">
                  <div class="uploaded-image__img__cont">
                    <img src="<%=`https://s3.eu-west-2.amazonaws.com/glammycare/${image.image}`%>" image_id="<%=image.image%>" alt="" class="w-100 ">
                  </div>
                  <div class="flex align-items-center">
                    <img src="/images/svg/cancel.svg" alt=""  class="uploaded-image__cancel pointer">
                    <p class="pointer">Delete</p>
                  </div>
                </div>
             <%})%>
            <%}%>
          </div>

          </div>
          <div class="">
            <input type="hidden" name='' id='item_id' value=<%=item_id%>>
          </div>

          <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
  </html>
