<%- include('header')-%>
</header>
    <body>
      <div class="update-notice saving">
        Saving
      </div>
      <div class="update-notice saved">
        Field Update was successfull!
      </div>
      <div class="field">
        <p class=" text-center mt-30">Variant Description for:</p>
        <p class="text-center"> <b class="f-22"><%=variant.name%>(<%=variant.color%>)</b></p>

        <div class="description-form-cont">
           <div class="field">
             <label for="" class="">Variant Name</label>
             <input type="text" name="name"  attr-name="name" id="variant_name" value="<%=variant.name%>" class="form-input control email">
           </div>
           <div class="field">
             <label for="" class="">Color</label>
             <input type="text" name="name"  attr-name="name" id="variant_color" value="<%=variant.color%>"  class="form-input control email">
           </div>
           <div class="field">

             <select  name="name"  attr-name="name"  id="variant_color_type"class="form-input control email">
               <option value="">Select variant color type</option>
               <option value="">Option two</option>
             </select>
           </div>

            <div class="field">
              <label for="image" class="file-upload-label pointer rel">
                <div class=" flex justify-content-center h-100 align-items-center">

                  <div class="abs image-upload-progress none">
                    <p class="text-center image-upload-notice mt-25">Uploading. Please Wait...</p>
                    <div class=" flex justify-content-center ">

                      <img src="/images/svg/uploading.svg" width="30px" height="45px" alt="">
                    </div>
                  </div>



                  <img src="/images/svg/upload.svg" width="100px" height="100px" alt="">
                </div>
              </label>
              <input type="file" name="image" id="image" class="none" value="">
            </div>



            <%# <div class="mt-30">
              <button type="submit"  class="form-input control  rel straight-edge">Add New Variant</button>
            </div>

            <div class="mt-20">

              <button type="submit"  class="form-input control form-btn--rounded form-input--rounded--cinnabar rel straight-edge">Add New Variant</button>
            </div> %>
          </form>


          <div class="image-upload">
            <%if(images){%>
              <%images.forEach((image)=>{%>
                <div class="uploaded-image flex">
                  <div class="uploaded-image__img__cont">
                    <img src="<%=`https://s3.eu-west-2.amazonaws.com/glammycare/${image.image}`%>" image_id="<%=image.image%>" alt="" class="w-100 ">
                  </div>
                  <div class="flex align-items-center">
                    <img src="/images/svg/cancel.svg" alt="" image_id="<%=image.image%>"  class="uploaded-image__cancel pointer">
                    <p class="pointer">Delete</p>
                  </div>
                </div>
             <%})%>
            <%}%>
          </div>


          <div class="">
            <input type="hidden" name="" id="item_id" value="<%=item_id%>">
            <input type="hidden" name="" id="variant_id" value="<%=variant.variant_id%>">
          </div>
        </div>
          <script type="text/javascript" src="/javascripts/main.js"></script>


    </body>
  </html>
