<%- include('header')-%>
</header>
    <body>
      <div class="update-notice saving">
        Saving
      </div>
      <div class="update-notice saved">
        Field Update was successfull!
      </div>
      <div class="fields">
           <p class="underline text-center bold">Variant</p>

           <div class="input-group-field">
             <label for="" class="form-label ">Variant Name</label>
             <input type="text" name="name"  attr-name="name" id="variant_name" value="<%=variant.name%>" class="form-input control email">
           </div>
           <div class="input-group-field">
             <label for="" class="form-label ">Color</label>
             <input type="text" name="name"  attr-name="name" id="variant_color" value="<%=variant.color%>"  class="form-input control email">
           </div>
           <div class="input-group-field">

             <select  name="name"  attr-name="name"  id="variant_color_type"class="form-input control email">
               <option value="">Select variant color type</option>
               <option value="">Option two</option>
             </select>
           </div>

            <div class="input-group-field mt-20">
              <label for="image" class="form-label pointer  file-type rel">
                <p class="text-center">Upload Variant Image</p>
                <div class=" flex justify-content-center">

                  <div class="abs image-upload-progress">
                    <p class="text-center">Uploading. Please Wait...</p>
                    <div class=" flex justify-content-center ">

                      <img src="/images/svg/uploading.svg" width="30px" height="45px" alt="">
                    </div>
                  </div>



                  <img src="/images/svg/upload.svg" width="30px" height="45px" alt="">
                </div>
              </label>
              <input type="file" name="image" id="image" class="none" value="">
            </div>



            <div class="mt-30">
              <button type="submit"  class="form-input control  rel straight-edge">Add New Variant</button>
            </div>

            <div class="mt-20">

              <button type="submit"  class="form-input control form-btn--rounded form-input--rounded--cinnabar rel straight-edge">Add New Variant</button>
            </div>
          </form>

        
          <div class="image-upload">
            <%if(images){%>
              <%images.forEach((image)=>{%>
                <div class="uploaded-image flex">
                  <div class="uploaded-image__img__cont">
                    <img src="<%=`https://s3.eu-west-2.amazonaws.com/glammycare/${image.image}`%>" image_id="<%=image.image%>" alt="" class="w-100 ">
                  </div>
                  <div class="flex align-items-center">
                    <img src="/images/svg/cancel.svg" alt=""  class="uploaded-image__cancel pointer">
                    <p class="pointer">Delete</p>
                  </div>
                </div>
             <%})%>
            <%}%>
          </div>


          <div class="">
            <input type="hidden" name="" id="item_id" value="<%=item_id%>">
            <input type="hidden" name="" id="variant_id" value="<%=variant.variant_id%>">
          </div>
          <script type="text/javascript" src="/javascripts/main.js"></script>


    </body>
  </html>
